.calendar-item{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: var(--border-radius);
    align-items: center;
}

.month-button{
    width: 40px;
    height: 40px; 
    background-color: #005E8E;
    color: #fff; 
    border-radius: 8px; 
}
